<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> Disease Detector</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col">
            <div class="card border border-dark   m-4 ">
                <div class="row">
                    <div class="col ">
                        <img class="card-img-top  d-block ml-4 mt-2" src="VirusImage.png" style="height:25vh; width:65% " alt="Card image cap ">
                        <div class="card-body ">
                            <div class="col">
                                <h2 class="card-title ">CORONA VIRUS</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center  align-self-center ">
                        <!-- <div class="d-flex justify-content-center  mb-3"> -->
                        <div class="p-2 text-center  align-items-center"><label class=" align-middle  align-items-center" style="font-size: 120%;"><h3>TOTAL CASES : 414</h3></label></div>
                        <!-- </div> -->
                    </div>
                    <div class="col  text-center  align-self-center">
                        <div class="p-2 text-center align-items-center"><label class="align-middle  align-items-center"><h3>TOTAL DEATHS : 10</h3></label></div>
                    </div>
                    <div class="col  text-center  align-self-center">
                        <div class="p-2 text-center align-items-center "><label class="align-middle  align-items-center"><h3>TOTAL CURES: 0</h3></label></div>
                    </div>

                </div>

                <div class="card-body ">
                    <div class="row align-items-start">
                        <div class="col-5 ">
                            <!-- <h2 class="card-body ">CORONA VIRUS</h2> -->
                        </div>
                        <div class="col mr-6">
                            <button type="button" class="btn btn-outline-primary "><h4>COVID-19 DECTECTOR</h4></button>
                        </div>
                        <div class="col"><button type="button" class="btn btn-outline-primary"><h4>CURRENT STATUS</h4></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="text-center"> <button type="button" class="btn btn-outline-warning p-3 " style="color: #111 !important;"><h4>Predict your Medical Condition</h4></button></div>
    <div class="text-center m-4">
        <h1>Medical Condition Dectector</h1>
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top p-4" src="heart.jpg" alt="Card image cap">
            <div class="card-body">
                <div class="temp  text-center">
                    <button type="button" class="btn btn-outline-warning p-3 pl-4 pr-4 btn-lg " style="color: #111 !important;"><b>Heart Disease</b></button>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="ribbon.jpg" alt="Card image cap">
            <div class="card-body">
                <div class="temp text-center">
                    <button type="button" class="btn btn-outline-warning p-3 pl-4 pr-4  btn-lg " style="color: #111 !important;"><b>Breast Cancer</b></button>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top p-4 mt-5" src="kidney.jpg" alt="Card image cap">
            <div class="card-body"><br>


                <div class="temp m-3 text-center">
                    <button type="button " class="btn btn-outline-warning p-3 pl-4 pr-4 btn-lg" style="color: #111 !important;"><b>Kidney Disease</b></button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>