<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
    	.jumbo{
    		padding: 10px;
    		text-align: center;
    		margin-top: 15px;
    	}
    	.healthProblem{

    	}
    	.diseasebox{
    		color: rgb(0, 179, 142); 
    		font-size: 0.8rem;
    		font-weight: 500; 
    		background: white none repeat scroll 0% 0%; 
    		margin: 0.5rem; 
    		padding: 0.7rem; 
    		border-radius: 8px; 
    		box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
    		transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s; 
    		cursor: pointer;
    		max-width: 150px; 
    	}
    	.diseaseSuggestion{
    		display: flex;
    		flex-wrap: wrap;
    	}
    	.back{
    		background: #e0e0e0;
    		margin-top: 20px;
    		margin-bottom : 15px; 
    	}
    	#nextBtn{
    		
    	}
    </style>
    <title>Disease Probability Prediction</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">COVID-19 Detector</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
    	<div class="jumbotron jumbo">
    		<h1>  DISEASE PROBABILITY PREDICTION </h1>
    	</div>
    	<form>
    		<div class="form-group">
    			<label class="healthProblem"> Health Problem</label>
    			<hr>
    			<div class="category_wrapper back ">
    				<div id="symptomsWrapper" class="diseaseSuggestion">
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" onClick="">
	    					None of these
	    					</div>
    					</div>   					
    				</div>
    				<button id="nextBtn" class="btn btn-primary">Next</button>			
    			<div class="category_wrapper back">
    				<div id="symptomsWrapper" class="diseaseSuggestion">
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox"onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" onClick="">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" onClick="">
	    					None of these
	    					</div>
    					</div>
    				</div>
    				<button id="nextBtn" class="btn btn-primary">Next</button>
    			</div>
    		</form>
    	</div>
</body>