conda create --name impulse  python=3.6 -y
pip install tensorflow==1.13.2 numpy tflearn nltk 

Speech System :- 
pip install speechRecognition pyaudio
pip install gtts
pip install pywin32
pip install pyttsx3

# Spacy Installation :- 
conda install conda-forge spacy 
python -m spacy download en 



#disease prediction
 -->Installation
pip install numpy pandas matplotlib sklearn 


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.preprocessing import LabelEncoder




