conda create --name impulse  python=3.6 -y
pip install tensorflow==1.13.2 numpy tflearn nltk 

# Spacy Installation :- 
conda install conda-forge spacy 
python -m spacy download en 



#disease prediction

pip install numpy pandas matplotlib sklearn nltk
pip install seaborn
