{% extends "layout.html" %} {% block contents %}
<br>
<div class="container">
    <form>
        <h2 class="text-center">Upload Your Breast Cancer report here </h2><br>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
        <br><br>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-lg" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}