<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <style type="text/css">
    	.jumbo{
    		padding: 5px;
    		text-align: center;
    		margin-top: 15px;
    	}
    	.healthProblem{

    	}
    	.diseasebox{
    		color: rgb(0, 179, 142); 
    		font-size: 0.8rem;
    		font-weight: 500; 
    		background: white none repeat scroll 0% 0%; 
    		margin: 0.5rem; 
    		padding: 0.7rem; 
    		border-radius: 8px; 
    		box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
    		transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s; 
    		cursor: pointer;
    		max-width: 150px; 
    	}
    	.diseaseSuggestion{
    		display: flex;
    		flex-wrap: wrap;
    	}
    	.bag{
    		background: #e0e0e0;
    		margin-top: 20px;
    		margin-bottom : 15px; 
    	}
    	#nextBtn{
    		
    	}

    </style>
    <title>Disease Probability Prediction</title>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Disease Predictor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
<!-- ============================================================== -->
    <div class="container">
    	<div class="jumbotron jumbo">
    		<h1>  DISEASE PROBABILITY PREDICTION </h1>
    	</div>
  			<label class="healthProblem"> Health Problem</label>
    			<hr>
    			<div id="bag1" class="category_wrapper bag">
    				<div id="symptomsWrapper" class="diseaseSuggestion">
	    					<button id="pk_sdk_symptoms1" class="pk-sdk-hover diseasebox">
	    					fever
	    					</button> 
	    					<!-- </div> -->
	    					<button id="pk_sdk_symptoms2" class="pk-sdk-hover diseasebox">
	    					cough
	    					</button>
	    					<button id="pk_sdk_symptoms3" class="pk-sdk-hover diseasebox">
	    					vomiting
	    					</button>
	    					<button id="pk_sdk_symptoms4" class="pk-sdk-hover diseasebox">
	    					cold	
	    					</button>
	    					<button id="pk_sdk_symptoms5" class="pk-sdk-hover diseasebox">
	    					Stomach pain	
	    					</button>
	    					<button id="pk_sdk_symptoms6" class="pk-sdk-hover diseasebox">
	    					vision_problem
	    					</button>
	    					<button id="pk_sdk_symptoms7" class="pk-sdk-hover diseasebox">
	    					Shoulder_pain
	    					</button>
	    					<button id="pk_sdk_symptoms8" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms9" class="pk-sdk-hover diseasebox">
	    					Arm_pain
	    					</button>
	    					<button id="pk_sdk_symptoms10" class="pk-sdk-hover diseasebox">
	    					itching
	    					</button>
	    					<button id="pk_sdk_symptoms11" class="pk-sdk-hover diseasebox">
	    					muscle_pain
	    					</button>
	    					<button id="pk_sdk_symptoms12" class="pk-sdk-hover diseasebox" >
	    					depression
	    					</button>
	    					<button id="pk_sdk_symptoms13" class="pk-sdk-hover diseasebox" >
	    					painful_bowel_moments
	    					</button>
	    					<button id="pk_sdk_symptoms14" class="pk-sdk-hover diseasebox" >
	    					sweating
	    					</button>
	    					<button id="pk_sdk_symptoms15" class="pk-sdk-hover diseasebox" >
	    					low_heartbeat
	    					</button>
	    					<button id="pk_sdk_symptoms16" class="pk-sdk-hover diseasebox" >
	    					None of these
	    					</button>
    					</div>   					
    				</div>
    				<button id="nextBtn1" class="btn btn-primary">Next</button>			
    			<div id="bag2" class="category_wrapper bag">
    				<div id="symptomsWrapper" class="diseaseSuggestion">
	    					<button id="pk_sdk_symptoms17" class="pk-sdk-hover diseasebox">
	    					decreased_appetite
	    					</button>
	    					<button id="pk_sdk_symptoms18" class="pk-sdk-hover diseasebox">
	    					stiff_neck
	    					</button>
	    					<button id="pk_sdk_symptoms19" class="pk-sdk-hover diseasebox">
	    					rash
	    					</button>
	    					<button id="pk_sdk_symptoms20" class="pk-sdk-hover diseasebox">
	    					depression
	    					</button>
	    					<button id="pk_sdk_symptoms21" class="pk-sdk-hover diseasebox">
	    					neck_stiff
	    					</button>
	    					<button id="pk_sdk_symptoms22" class="pk-sdk-hover diseasebox">
	    					yawning
	    					</button>
	    					<button id="pk_sdk_symptoms23" class="pk-sdk-hover diseasebox">
	    					stool_pressure
	    					</button>
	    					<button id="pk_sdk_symptoms24" class="pk-sdk-hover diseasebox">
	    					skin_rash
	    					</button>
	    					<button id="pk_sdk_symptoms25" class="pk-sdk-hover diseasebox">
	    					swelling
	    					</button>
	    					<button id="pk_sdk_symptoms26" class="pk-sdk-hover diseasebox">
	    					fatigue
	    					</button>
	    					<button id="pk_sdk_symptoms27" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms28" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms29" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms30" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms31" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms32" class="pk-sdk-hover diseasebox" >
	    					None of these
	    					</button>
    					</div>
    				</div>
    				<button id="nextBtn2" class="btn btn-primary">Next</button>
    			<div id="bag3" class="category_wrapper bag">
    				<div id="symptomsWrapper" class="diseaseSuggestion">
	    					<button id="pk_sdk_symptoms33" class="pk-sdk-hover diseasebox">
	    					muscle_spasm
	    					</button>
	    					<button id="pk_sdk_symptoms34" class="pk-sdk-hover diseasebox">
	    					muscle_cramps
	    					</button>
	    					<button id="pk_sdk_symptoms35" class="pk-sdk-hover diseasebox">
	    					abdominal_pain
	    					</button>
	    					<button id="pk_sdk_symptoms36" class="pk-sdk-hover diseasebox">
	    					weight_loss
	    					</button>
	    					<button id="pk_sdk_symptoms37" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms38" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms39" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms40" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms41" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms42" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms43" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms44" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms45" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms46" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms47" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms48" class="pk-sdk-hover diseasebox" >
	    					None of these
	    					</button>
    					</div>
    				</div>
    				<button id="nextBtn" class="btn btn-primary">Next</button>
    			<div id="bag4" class="category_wrapper bag">
    				<div id="symptomsWrapper" class="diseaseSuggestion">
	    					<button id="pk_sdk_symptoms49" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms50" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms51" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms52" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms53" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms54" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms55" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms56" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</button>
	    					<button id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" >
	    					None of these
	    					</button>
    					</div>
    				</div>
    				<button id="nextBtn" class="btn btn-primary">Next</button>
    			<div id="bag5" class="category_wrapper bag">
    				<div id="symptomsWrapper" class="diseaseSuggestion">
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" >
	    					None of these
	    					</div>
    					</div>
    				</div>
    				<button id="nextBtn" class="btn btn-primary">Next</button>
    			<div id="bag6" class="category_wrapper bag">
    				<div id="symptomsWrapper" class="diseaseSuggestion">
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox">
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" >
	    					Confusion
	    					</div>
	    					<div id="pk_sdk_symptoms" class="pk-sdk-hover diseasebox" >
	    					None of these
	    					</div>
    					</div>
    				</div>
    				<button id="nextBtn" class="btn btn-primary">Next</button>
    	</div>
    	
    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script type="text/javascript" src="disPredProb.js"></script>
</body>
</body>
</html>